/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
   

}

/* FONDO */
body {
    min-height: 100vh;
    background: #051923;
    display: flex;
    justify-content: center;
    align-items: center;


}

/* CONTENEDOR */
main {
    background: #89B0AE;
    padding: 30px 25px;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* INPUTS */
input {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #6c63ff;
}

/* BOTÓN */
button {
    padding: 12px;
    background: #0582CA;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background: #051923;
}

/* ERRORES */
.error {

    color: #051923;
    font-size: 13px;
    margin-top: 4px;
    margin-bottom: 8px;
    display: none;
}


@media (max-width: 600px) {
   

    main {
        padding: 20px;
        max-width: 90%;
         align-items: center;
        
    }

    button {
        font-size: 14px;
    }

    input {
        font-size: 14px;
    }
}